<a href="https://colab.research.google.com/github/JKTajo/20250714_count_TAX/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-2

In [2]:
import requests
import pandas as pd
import json
import numpy as np

# url 및 api key 설정
url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/'
api_key = '5a6d4349626a756e35364a70467556'

# 원하는 데이터 수집
def get_year_months():
    year_months = []
    for year in range(2024, 2024+1):
        for month in range(1,12+1):
            year_months.append(f'{year}{month:02d}')
    return year_months

year_months_list = get_year_months()

sum_data = []

for year_month in get_year_months():
    year = year_month[:4]
    month = year_month[4:]
    new_url = f'{url}{year}/{month}/'
    try:
        response = requests.get(new_url, timeout=5)
        response.raise_for_status()
        data = response.json()
        if data.get('energyUseDataSummaryInfo'):
            rows = data['energyUseDataSummaryInfo'].get('row',[])
            for r in rows:
                if r.get('MM_TYPE') == '개인':
                    extracted = {
                    'YEAR' : r.get('YEAR'),
                    'MON' : r.get('MON'),
                    'MM_TYPE' : r.get('MM_TYPE'),
                    'EUS' : r.get('EUS'),
                    'GUS' : r.get('GUS'),
                    'WUS' : r.get('WUS'),
                    'HUS' : r.get('HUS'),
                }
                sum_data.append(extracted)

    except requests.exceptions.RequestException as e:
        print(f"API 호출실패: {year_month}, {e}")
    except json.JSONDecodeError:
        print(f"JSON 파싱 실패 : {year_month}, {e}")
    finally:
        print("처리 완료")



print(sum_data)

처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
처리 완료
[{'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '02', 'MM_TYPE': '개인', 'EUS': '280810330', 'GUS': '65184440', 'WUS': '14247296.7', 'HUS': '18696968.203'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '03', 'MM_TYPE': '개인', 'EUS': '259332255', 'GUS': '58563376', 'WUS': '13792441.8', 'HUS': '13455710.256'}, {'YEAR': '2024', 'MON': '04', 'MM_TYPE': '개인', 'EUS': '256332884', 'GUS': '35786315', 'WUS': '14330249.1', 'HUS': '3099650.225'}, {'YEAR': '2024', 'MON': '04', 'MM_TYPE': '개인', 'EUS': '256332884', 'GUS': '35786315', 'WUS': '14330249.1', 'HUS': '3099650.225'}, {'YEAR': '2024', 'MON': '04', 'MM_TYPE': '개인', 'EUS': '256332884', 'GUS': '35786315', 'WUS': '14330249.1', 'HUS': '3099650.225'}, {'YEAR': '2024', 'MON': '05', 'MM_TYPE': '개인', 'EUS': '244740675', 'GUS': '18077028', 'WUS': '14158142.9', 'HUS': '28333197.76'}, {'YEAR': '2024', 'MON': '05', 'MM_TYPE': '개인', 'EUS': '244740675', 'GUS': '18077028', 'WUS': '14158142.9', 'HUS': '28333197.76'}, {'YEAR': '2024', 'MON': '05', 'MM_TYPE': '개인', 'EUS': '244740675', 'GUS': '18077028', 'WUS': '14158142.9', 'HUS': '28333197.76'}, {'YEAR': '2024', 'MON': '05', 'MM_TYPE': '개인', 'EUS': '244740675', 'GUS': '18077028', 'WUS': '14158142.9', 'HUS': '28333197.76'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '06', 'MM_TYPE': '개인', 'EUS': '270158916', 'GUS': '11903071', 'WUS': '14966075.6', 'HUS': '20226852.923'}, {'YEAR': '2024', 'MON': '07', 'MM_TYPE': '개인', 'EUS': '340000663', 'GUS': '8319412', 'WUS': '14992942.2', 'HUS': '2173041.617'}, {'YEAR': '2024', 'MON': '07', 'MM_TYPE': '개인', 'EUS': '340000663', 'GUS': '8319412', 'WUS': '14992942.2', 'HUS': '2173041.617'}, {'YEAR': '2024', 'MON': '07', 'MM_TYPE': '개인', 'EUS': '340000663', 'GUS': '8319412', 'WUS': '14992942.2', 'HUS': '2173041.617'}, {'YEAR': '2024', 'MON': '07', 'MM_TYPE': '개인', 'EUS': '340000663', 'GUS': '8319412', 'WUS': '14992942.2', 'HUS': '2173041.617'}, {'YEAR': '2024', 'MON': '07', 'MM_TYPE': '개인', 'EUS': '340000663', 'GUS': '8319412', 'WUS': '14992942.2', 'HUS': '2173041.617'}, {'YEAR': '2024', 'MON': '08', 'MM_TYPE': '개인', 'EUS': '463971328', 'GUS': '7072251', 'WUS': '15873544.6', 'HUS': '130082.263'}, {'YEAR': '2024', 'MON': '08', 'MM_TYPE': '개인', 'EUS': '463971328', 'GUS': '7072251', 'WUS': '15873544.6', 'HUS': '130082.263'}, {'YEAR': '2024', 'MON': '09', 'MM_TYPE': '개인', 'EUS': '409872908', 'GUS': '5729131', 'WUS': '15143321.6', 'HUS': '3420507.136'}, {'YEAR': '2024', 'MON': '09', 'MM_TYPE': '개인', 'EUS': '409872908', 'GUS': '5729131', 'WUS': '15143321.6', 'HUS': '3420507.136'}, {'YEAR': '2024', 'MON': '09', 'MM_TYPE': '개인', 'EUS': '409872908', 'GUS': '5729131', 'WUS': '15143321.6', 'HUS': '3420507.136'}, {'YEAR': '2024', 'MON': '09', 'MM_TYPE': '개인', 'EUS': '409872908', 'GUS': '5729131', 'WUS': '15143321.6', 'HUS': '3420507.136'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '10', 'MM_TYPE': '개인', 'EUS': '282268119', 'GUS': '8233421', 'WUS': '15297669.9', 'HUS': '2695491.396'}, {'YEAR': '2024', 'MON': '11', 'MM_TYPE': '개인', 'EUS': '257927956', 'GUS': '17418221', 'WUS': '14678672.5', 'HUS': '8836296.454'}, {'YEAR': '2024', 'MON': '11', 'MM_TYPE': '개인', 'EUS': '257927956', 'GUS': '17418221', 'WUS': '14678672.5', 'HUS': '8836296.454'}, {'YEAR': '2024', 'MON': '11', 'MM_TYPE': '개인', 'EUS': '257927956', 'GUS': '17418221', 'WUS': '14678672.5', 'HUS': '8836296.454'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}]

2-1

In [3]:
# 데이터프레임화
# json 파일 저장
with open('energy.json', mode='w', encoding = 'utf-8')as f:
    json.dump(sum_data, f, indent = 4, ensure_ascii=False)

# dataframe 생성
df = pd.DataFrame(sum_data)
# 데이터 측정
df.describe()
df
# DataFrame 인덱스 출력
print(df.index)
# DataFrame 컬럼 출력
print(df.columns)
# DataFrame 행 출력
print(df.values.tolist())
# DataFrame 값 출력
print(df.values.flatten())
# DataFrame의 크기
print(df.shape)
# 요약
print(df.describe())

RangeIndex(start=0, stop=60, step=1)
Index(['YEAR', 'MON', 'MM_TYPE', 'EUS', 'GUS', 'WUS', 'HUS'], dtype='object')
[['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '01', '개인', '290223476', '65608930', '14119336.8', '26759601.094'], ['2024', '02', '개인', '280810330', '65184440', '14247296.7', '18696968.203'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '03', '개인', '259332255', '58563376', '13792441.8', '13455710.256'], ['2024', '04', '개인', '256332884', '35786315', '14330249.1', '3099650.225'], ['2024', '04', '개인', '256332884', '35786315', '14330249.1', '3099650.225'], ['2024', '04', '개인', '256332884', '35786315', '14330249.1', '3099650.225'], ['2024', '05', '개인', '244740675', '18077028', '14158142.9', '28333197.76'], ['2024', '05', '개인', '244740675', '18077028', '14158142.9', '28333197.76'], ['2024', '05', '개인', '244740675', '18077028', '14158142.9', '28333197.76'], ['2024', '05', '개인', '244740675', '18077028', '14158142.9', '28333197.76'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '06', '개인', '270158916', '11903071', '14966075.6', '20226852.923'], ['2024', '07', '개인', '340000663', '8319412', '14992942.2', '2173041.617'], ['2024', '07', '개인', '340000663', '8319412', '14992942.2', '2173041.617'], ['2024', '07', '개인', '340000663', '8319412', '14992942.2', '2173041.617'], ['2024', '07', '개인', '340000663', '8319412', '14992942.2', '2173041.617'], ['2024', '07', '개인', '340000663', '8319412', '14992942.2', '2173041.617'], ['2024', '08', '개인', '463971328', '7072251', '15873544.6', '130082.263'], ['2024', '08', '개인', '463971328', '7072251', '15873544.6', '130082.263'], ['2024', '09', '개인', '409872908', '5729131', '15143321.6', '3420507.136'], ['2024', '09', '개인', '409872908', '5729131', '15143321.6', '3420507.136'], ['2024', '09', '개인', '409872908', '5729131', '15143321.6', '3420507.136'], ['2024', '09', '개인', '409872908', '5729131', '15143321.6', '3420507.136'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '10', '개인', '282268119', '8233421', '15297669.9', '2695491.396'], ['2024', '11', '개인', '257927956', '17418221', '14678672.5', '8836296.454'], ['2024', '11', '개인', '257927956', '17418221', '14678672.5', '8836296.454'], ['2024', '11', '개인', '257927956', '17418221', '14678672.5', '8836296.454'], ['2024', '12', '개인', '134828126', '42103424', '7326853.6', '1513199.277'], ['2024', '12', '개인', '134828126', '42103424', '7326853.6', '1513199.277'], ['2024', '12', '개인', '134828126', '42103424', '7326853.6', '1513199.277']]
['2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '01' '개인' '290223476' '65608930' '14119336.8' '26759601.094'
 '2024' '02' '개인' '280810330' '65184440' '14247296.7' '18696968.203'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '03' '개인' '259332255' '58563376' '13792441.8' '13455710.256'
 '2024' '04' '개인' '256332884' '35786315' '14330249.1' '3099650.225' '2024'
 '04' '개인' '256332884' '35786315' '14330249.1' '3099650.225' '2024' '04'
 '개인' '256332884' '35786315' '14330249.1' '3099650.225' '2024' '05' '개인'
 '244740675' '18077028' '14158142.9' '28333197.76' '2024' '05' '개인'
 '244740675' '18077028' '14158142.9' '28333197.76' '2024' '05' '개인'
 '244740675' '18077028' '14158142.9' '28333197.76' '2024' '05' '개인'
 '244740675' '18077028' '14158142.9' '28333197.76' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '06' '개인'
 '270158916' '11903071' '14966075.6' '20226852.923' '2024' '07' '개인'
 '340000663' '8319412' '14992942.2' '2173041.617' '2024' '07' '개인'
 '340000663' '8319412' '14992942.2' '2173041.617' '2024' '07' '개인'
 '340000663' '8319412' '14992942.2' '2173041.617' '2024' '07' '개인'
 '340000663' '8319412' '14992942.2' '2173041.617' '2024' '07' '개인'
 '340000663' '8319412' '14992942.2' '2173041.617' '2024' '08' '개인'
 '463971328' '7072251' '15873544.6' '130082.263' '2024' '08' '개인'
 '463971328' '7072251' '15873544.6' '130082.263' '2024' '09' '개인'
 '409872908' '5729131' '15143321.6' '3420507.136' '2024' '09' '개인'
 '409872908' '5729131' '15143321.6' '3420507.136' '2024' '09' '개인'
 '409872908' '5729131' '15143321.6' '3420507.136' '2024' '09' '개인'
 '409872908' '5729131' '15143321.6' '3420507.136' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '10' '개인'
 '282268119' '8233421' '15297669.9' '2695491.396' '2024' '11' '개인'
 '257927956' '17418221' '14678672.5' '8836296.454' '2024' '11' '개인'
 '257927956' '17418221' '14678672.5' '8836296.454' '2024' '11' '개인'
 '257927956' '17418221' '14678672.5' '8836296.454' '2024' '12' '개인'
 '134828126' '42103424' '7326853.6' '1513199.277' '2024' '12' '개인'
 '134828126' '42103424' '7326853.6' '1513199.277' '2024' '12' '개인'
 '134828126' '42103424' '7326853.6' '1513199.277']
(60, 7)
        YEAR MON MM_TYPE        EUS       GUS         WUS           HUS
count     60  60      60         60        60          60            60
unique     1  12       1         12        12          12            12
top     2024  01      개인  290223476  65608930  14119336.8  26759601.094
freq      60   9      60          9         9           9             9

2-2

In [21]:
# 연도 컬럼 추가
df['YEAR'] = pd.to_datetime(df['YEAR'])
df['year'] = df['YEAR'].dt.year

#계절 컬럼 추가
df['MON'] = df['MON'].astype(int)
df['season'] = df['MON'].map(lambda x : '봄' if 3 <= x <= 5
                                      else '여름' if 6 <= x <= 8
                                      else '가을' if 9 <= x <= 11
                                      else '겨울')
df[['MON','season']]

    MON season
0     1     겨울
1     1     겨울
2     1     겨울
3     1     겨울
4     1     겨울
5     1     겨울
6     1     겨울
7     1     겨울
8     1     겨울
9     2     겨울
10    3      봄
11    3      봄
12    3      봄
13    3      봄
14    3      봄
15    3      봄
16    3      봄
17    3      봄
18    4      봄
19    4      봄
20    4      봄
21    5      봄
22    5      봄
23    5      봄
24    5      봄
25    6     여름
26    6     여름
27    6     여름
28    6     여름
29    6     여름
30    6     여름
31    6     여름
32    6     여름
33    6     여름
34    7     여름
35    7     여름
36    7     여름
37    7     여름
38    7     여름
39    8     여름
40    8     여름
41    9     가을
42    9     가을
43    9     가을
44    9     가을
45   10     가을
46   10     가을
47   10     가을
48   10     가을
49   10     가을
50   10     가을
51   10     가을
52   10     가을
53   10     가을
54   11     가을
55   11     가을
56   11     가을
57   12     겨울
58   12     겨울
59   12     겨울

In [ ]:
df['season'] = df['MON'].dt.month
# 계절 추가
def get_season(month):
    if month in [12, 1, 2]:
        return '겨울'
    elif month in [3, 4, 5]:
        return '봄'
    elif month in [6, 7, 8]:
        return '여름'
    else:
        return '가을'

df['season'] = df['month'].apply(get_season)

TypeError: list indices must be integers or slices, not str

In [ ]:
season_data = list(filter(lambda data : data["MON"] in ['12','01','02'], sum_data))
print(season_data)


df1 = pd.DataFrame(season_data)
print(df1)

[{'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '01', 'MM_TYPE': '개인', 'EUS': '290223476', 'GUS': '65608930', 'WUS': '14119336.8', 'HUS': '26759601.094'}, {'YEAR': '2024', 'MON': '02', 'MM_TYPE': '개인', 'EUS': '280810330', 'GUS': '65184440', 'WUS': '14247296.7', 'HUS': '18696968.203'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'EUS': '134828126', 'GUS': '42103424', 'WUS': '7326853.6', 'HUS': '1513199.277'}]
    YEAR MON MM_TYPE        EUS       GUS         WUS           HUS
0   2024  01      개인  290223476  65608930  14119336.8  26759601.094
1   2024  01      개인  290223476  65608930  14119336.8  26759601.094
2   2024  01      개인  290223476  65608930  14119336.8  26759601.094
3   2024  01      개인  290223476  65608930  14119336.8  26759601.094
4   2024  01      개인  290223476  65608930  14119336.8  26759601.094
5   2024  01      개인  290223476  65608930  14119336.8  26759601.094
6   2024  01      개인  290223476  65608930  14119336.8  26759601.094
7   2024  01      개인  290223476  65608930  14119336.8  26759601.094
8   2024  01      개인  290223476  65608930  14119336.8  26759601.094
9   2024  02      개인  280810330  65184440  14247296.7  18696968.203
10  2024  12      개인  134828126  42103424   7326853.6   1513199.277
11  2024  12      개인  134828126  42103424   7326853.6   1513199.277
12  2024  12      개인  134828126  42103424   7326853.6   1513199.277

In [ ]:
print(df)
selected_col = df[['MON']]
selected_col
df.rename(selected_col(columns={'MON' : 'SEASON'}))
df.append(selected_col)
if 'MON' == '12' or '01' or '02':
    'SEASON' = 'WINTER'
    if 'MON' == '03' or '04' or '05':
        'SEASON'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-1535880163.py, line 7)