<a href="https://colab.research.google.com/github/JKTajo/20250714_count_TAX/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-2

In [32]:
import requests
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose


# url 및 api key 설정
url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/'
api_key = '5a6d4349626a756e35364a70467556'



# 날짜 범위 잡기
for year in range(2015,2025):
    for month in range(1,13):
        date = f'{year}/{month:02d}'
        new_url = f'{url}{date}'
        response = requests.get(url)


# 호출 성공/실패 출력
print(response.json())

data = response.json()['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(data)

print(df)

{'energyUseDataSummaryInfo': {'list_total_count': 1241, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '학교', 'CNT': '6745', 'EUS': '117808793', 'EUS1': '114793127', 'EUS2': '114623246', 'ECO2_1': '3100606.5', 'ECO2_2': '3096973.668', 'GUS': '2093441', 'GUS1': '2046804', 'GUS2': '2061648', 'GCO2_1': '39207', 'GCO2_2': '78414', 'WUS': '1824338.2', 'WUS1': '1914804.2', 'WUS2': '1956560.2', 'WCO2_1': '-111344', 'WCO2_2': '-333633.134', 'HUS': '8.03', 'HUS1': '8.03', 'HUS2': '8.03', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '공동주택관리소', 'CNT': '3729', 'EUS': '498863841', 'EUS1': '496003195', 'EUS2': '488758810', 'ECO2_1': '6482838.5', 'ECO2_2': '6482838.5', 'GUS': '2853437', 'GUS1': '2552964', 'GUS2': '2586972', 'GCO2_1': '283460.5', 'GCO2_2': '566921', 'WUS': '20407812.7', 'WUS1': '20616193.4', 'WUS2': '20794568.4', 'WCO2_1': '-297568.2', 'WCO2_2': '-892704.6', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '종교단체', 'CNT': '849', 'EUS': '6205342', 'EUS1': '6171454', 'EUS2': '6094109', 'ECO2_1': '72560.5', 'ECO2_2': '72560.5', 'GUS': '139336', 'GUS1': '152116', 'GUS2': '141705', 'GCO2_1': '-7575', 'GCO2_2': '-15150', 'WUS': '52228', 'WUS1': '51779', 'WUS2': '49094', 'WCO2_1': '1791.5', 'WCO2_2': '5374.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '소상공인', 'CNT': '53274', 'EUS': '96254029', 'EUS1': '98122772', 'EUS2': '98464917', 'ECO2_1': '-2039815.5', 'ECO2_2': '-2043866.22', 'GUS': '1638563', 'GUS1': '1647690', 'GUS2': '1687480', 'GCO2_1': '-27668', 'GCO2_2': '-55336', 'WUS': '1526737.8', 'WUS1': '1541313.8', 'WUS2': '1576869.2', 'WCO2_1': '-32353.7', 'WCO2_2': '-97437.288', 'HUS': '2', 'HUS1': '2', 'HUS2': '2', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}]}}
   YEAR MON  MM_TYPE      CNT        EUS       EUS1       EUS2      ECO2_1  \
0  2025  06       개인  1269454  278745288  275851011  273151435     4244065
1  2025  06       학교     6745  117808793  114793127  114623246   3100606.5
2  2025  06  공동주택관리소     3729  498863841  496003195  488758810   6482838.5
3  2025  06     종교단체      849    6205342    6171454    6094109     72560.5
4  2025  06     소상공인    53274   96254029   98122772   98464917  -2039815.5

        ECO2_2       GUS  ...        WUS1        WUS2     WCO2_1       WCO2_2  \
0  2076623.656  13084768  ...  15166284.8  15371662.2  -341289.9  -611822.446
1  3096973.668   2093441  ...   1914804.2   1956560.2    -111344  -333633.134
2    6482838.5   2853437  ...  20616193.4  20794568.4  -297568.2    -892704.6
3      72560.5    139336  ...       51779       49094     1791.5       5374.5
4  -2043866.22   1638563  ...   1541313.8   1576869.2   -32353.7   -97437.288

         HUS        HUS1        HUS2    HCO2_1           HCO2_2  \
0  379182.22  368839.049  389847.167  -160.888  -22448.67848156
1       8.03        8.03        8.03         0                0
2          0           0           0         0                0
3          0           0           0         0                0
4          2           2           2         0                0

                REG_DATE
0  2025-09-01 04:02:15.0
1  2025-09-01 04:02:15.0
2  2025-09-01 04:02:15.0
3  2025-09-01 04:02:15.0
4  2025-09-01 04:02:15.0

[5 rows x 25 columns]

In [35]:



# # 전처리

selected_col = df[['YEAR', 'EUS', 'GUS', 'WUS', 'HUS']]
df = df.DataFrame()
df = df.set_index('YEAR')
df

# # 날짜 범위
df.loc[['2015', '2024']]


print(df)

AttributeError: 'DataFrame' object has no attribute 'DataFrame'